.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 24px;
  color: white;
  box-shadow: 4px 0px 10px 10px #000;
  z-index: 100;
}

.App-body {
  background-color: #686c74;
  height: calc(100vh - 64px);
  overflow: hidden;
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.form-wrapper {
  width: 100%;
  background-color: #686c74;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form {
  padding: 10px;
  flex: 1;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.selected, .unselected {
  background-color: white;
  border: gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  flex: 3;
  font-size: 6em;
}

.unselected {
  flex: 1;
  font-size: 3em;
}
